<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancestry Hive</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<div class="container">
    <nav class="navbar navbar-light mb-3 border-bottom border-dark border-opacity-25" >
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-0 h1">
                <img src="../static/images/icons/bee.png" alt="Home Icon" class="icon logo">
                Ancestry Hive
            </a>
            <div class="d-flex justify-content-around align-items-center gap-2">
                <ul class="nav">
                    <li class="nav-item"><a href="/hive" class="pe-2">The Hive</a></li>
                    <li class="nav-item pe-2" >|</li>
                    <li class="nav-item"><a href="/profile" class="pe-2">Profile</a></li>
                </ul>
                
                <a href="/logout" class="">
                    <button type="button" class="btn" style="background-color: var(--primary);">Logout</button>
                </a>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-column justify-content-around mt-2">
        <div class="d-flex flex-row justify-content-center">
            <form class="text-start p-4 col-5" action="/edit_member/{{id.id}}/update" method="post">
                    <p class="h1 mb-4">Edit Hive Member</p>
                    {% with messages = get_flashed_messages(category_filter=["edit_member"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% for family in family %}
                    <input type="hidden" name="id" value="{{family.id}}">
                    <label for="generation" class="h5 form-label text-dark">Generation:</label>
                    <select class="form-select mb-3" name="generation">
                        <option selected value="{{family.generation}}">{{family.generation}}</option>
                        <option value="gradparent">Grandparent</option>
                        <option value="parent">Parent</option>
                        <option value="sibling">Silbling</option>
                        <option value="children">Nephew/Neice</option>
                    </select>
                    <label for="first_name" class="h5 form-label text-dark">First Name:</label>
                    <input type="text" class="form-control mb-3" name="first_name" value="{{family.first_name}}">
                    <label for="last_name" class="h5 form-label text-dark">Last Name:</label>
                    <input type="text" class="form-control mb-3" name="last_name" value="{{family.last_name}}">
                    <label for="place_of_birth" class="h5 form-label text-dark">Place of Birth:</label>
                    <input type="text" class="form-control mb-3" name="place_of_birth" value="{{family.place_of_birth}}">
                    <label for="date_of_birth" class="h5 form-label text-dark">Date of Birth:</label>
                    <input type="date" class="form-control mb-4" name="date_of_birth" value="{{family.date_of_birth}}">
                    <label for="age" class="h5 form-label text-dark">Age:</label>
                    <input type="text" class="form-control mb-4" name="age" value="{{family.age}}">
                    {% endfor %}
                    <input type='submit' value='Submit' class="btn" style="background-color: var(--primary);">

            </form>
        </div>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>