<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancestry Hive</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="../static/images/icons/bee.png">
</head>


<body>
<div class="container">
    <nav class="navbar navbar-light mb-3">
        <div class="container-fluid">
            <a href="/" class="navbar-brand mb-0 h1">
                <img src="../static/images/icons/home.png" alt="Home Icon" class="icon logo">
                Ancestry Hive
            </a>
            <a href="/login" class="">
                <button type="button" class="btn" style="background-color: var(--primary);">Login</button>
            </a>
        </div>
    </nav>

    <div class="d-flex flex-row mb-3 pb-2 border-bottom border-dark border-opacity-25" style="background-color: var(--background);">
        <img src="../static/images/bee_home.png" class="img-fluid rounded-circle p-3 " alt="Image of Bee Home">
        <div class="d-flex justify-content-center flex-column p-3">
            <p>
                Welcome to Ancestry Hive, the online gathering place for your family's history.
            </p>
            <p>
                Just as bees collaborate in their hives to create a harmonious and productive community, we invite you to explore the intricate tapestry of your family's past.
            </p>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-around mb-3" style="background-color: var(--background);">
        <div class="row align-items-center ">
            <div class="col-4 text-center">
                <a href="/bee_connect"><img src="../static/images/icons/beeconnect.png" class="rounded d-block p-3" alt="...">Bee Connect</a>
            </div>
            <div class="col-4 text-center">
                <a href="/hive"><img src="../static/images/icons/thehive.png" class="rounded d-block p-3" alt="The Hive">The Hive</a>
                
            </div>
            <div class="col-4 text-center">
                <a href="#"><img src="../static/images/icons/legacyhive.png" class="img-fluid rounded d-block p-3" alt="...">Legacy Hive</a>
            </div>
        </div>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>